body{
    margin: 0;
    font-family: "Microsoft Yahei UI";
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top;
    background-color: #7e353c;
    transition: 1s ease;
}

#top-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    position: absolute;
    height: 80%;
    z-index: -1;
    transition: 1s ease;
}

#title{
    font-size: 76px;
    font-size: bold;
    text-align: center;
    transition: 1s ease;
}

#subtitle{
    font-weight: lighter;
    font-size: 24px;
    width: 50%;
    text-align: center;
}

#difficulty-test-btn{
    background-color: white;
    color: var(--color);
    padding: 15px;
    border-radius: 50px;
    transition: 1s ease;
    text-decoration: none;
    font-weight: bold;
}

#difficulty-test-btn:hover{
    cursor: pointer;
    background-color: var(--color);
    color: white;
}

@media only screen and (max-width: 1064px){
    #subtitle{
        width: 60%;
    }
}

@media only screen and (max-width: 1180px){
    #title{
        font-size: 70px;
    }
}

@media only screen and (max-width: 1167px){
    #title{
        font-size: 64px;
    }
}

@media only screen and (max-width: 580px){
    #subtitle{
        width: 90%;
    }
    
    #title{
        font-size: 50px;
    }
}

@media only screen and (max-width: 410px){
    #title{
        font-size: 38px;
    }
}

@media only screen and (max-width: 320px){
    #title{
        font-size: 30px;
        padding-top: 20%
    }
    #subtitle{
        font-size: 20px;
        padding-top: 20%;
        padding-bottom: 10%;
    }
}